filebeat.inputs:
{% if ansible_docker0 is defined %}
- type: docker
  combine_partial: true
  containers:
    path: "/var/lib/docker/containers"
    stream: "stdout"
    ids:
      - "*"
  processors:
  - add_docker_metadata: ~
  multiline.pattern: '^[[:space:]]+(at|\.{3})|^Caused by:|^[a-zA-Z]+\.(.)+:'
  multiline.negate: false
  multiline.match: after
{% endif %}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
  reload.period: 10s

setup.template.settings:
  index.number_of_shards: 3
  index.number_of_replicas: 3
  index.refresh_interval: 10s
  index.codec: best_compression
  index.translog.durability: async


setup.kibana.host: "{{ kibana_host }}"
setup.kibana.protocol: "http"

#-------------------------- Elasticsearch output ------------------------------
output.elasticsearch:
  hosts: "{{elasticsearch_hosts}}"

  # Optional protocol and basic auth credentials.
  #protocol: "https"
  #username: "elastic"
  #password: "changeme"

#----------------------------- Logstash output --------------------------------
#output.logstash:
  #hosts: ["localhost:5044"]
  #ssl.certificate_authorities: ["/etc/pki/root/ca.pem"]
  #ssl.certificate: "/etc/pki/client/cert.pem"
  #ssl.key: "/etc/pki/client/cert.key"

#output.file:
  #path: "/tmp/filebeat"
  #filename: filebeat
  #rotate_every_kb: 10000
  #number_of_files: 7
  #permissions: 0600

